$btn-color: #05386b;
$font-color: #eaf6de;

.confirm-exit-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-confirm-exit {
    font-family: "Roboto", serif;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.container-confirm-exit-btn {
    display: flex;
    justify-content: space-around;
}

.confirm-exit-btn {
    background-color: $btn-color;
    border: 1px solid $btn-color;
    border-radius: 10px;
    color: $font-color;
    font-family: "Roboto", serif;
    font-size: 18px;
    padding: 10px 20px;
    transition: 0.5s;
}

.confirm-exit-btn:hover {
    cursor: pointer;
    background-color: #0a66c2;
    border: 1px solid #0a66c2;
    transition: 0.5s;
}