$btn-color: #05386b;
$font-color: #eaf6de;

.game-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-block-container {
    height: 568px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 10px;
}

.source-data-block {
    width: 80%;
}
.source-data-block,
.result-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 50px;
    background: #379683;
}

.result-block {
    display: flex;
    overflow: hidden;
    width: 100%; /* Растягивается на всю ширину контейнера */
    justify-content: flex-start;
}

.block-word {
    // padding: 10px;
    position: relative;
    background-color: $btn-color;
    color: $font-color;
    border: 1px solid $font-color;
    font-family: "Roboto", serif;
    // font-size: 18px;
    transition: 0.5s;

    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 10px;

    width: calc(var(--word-length, 5) * 8px + 20px); /* Базовая ширина с учетом длины слова */
    min-width: 60px; /* Минимальная ширина */
    max-width: 200px; /* Максимальная ширина */
    font-size: calc(14px + (10 / var(--word-length, 5))); /* Динамический размер шрифта */
    white-space: nowrap; /* Убираем перенос текста */
}

.block-word::before {
// .block-word::after {
  content: "";
  position: absolute;
  background-color: $btn-color;
  width: 15px;
  height: 15px;
  border: 1px solid $font-color;
  border-radius: 50%;
  z-index: 1;
}

.block-word::before {
  top: 14px;
  left: 100%;
  transform: translateX(-50%);
}

// .block-word::after {
//   bottom: -8px; /* Выступ снизу */
//   left: 50%;
//   transform: translateX(-50%);
// }

// .block-word {
//     text-align: center;
//     padding: 10px;
//     background-color: #e6e6e6;
//     border: 1px solid #ccc;
//     border-radius: 5px;
//     box-sizing: border-box; /* Учитывает padding в ширине */
//     flex-grow: 1; /* Позволяет равномерно распределять ширину между словами */
//     margin: 0 2px; /* Небольшое расстояние между словами */
//     min-width: 0; /* Для предотвращения переполнения */
// }

// .block-word {
//     flex-grow: 0;
//     flex-shrink: 0;
//     flex-basis: auto;
// }

// .block-word {
//     font-size: max(12px, min(20px, calc(16px - var(--word-length, 5) * 0.5px)));
// }

.block-word:hover {
    cursor: pointer;
    background-color: #0a66c2;
    border: 1px solid #0a66c2;
    transition: 0.5s;
}

.continue-btn,
.check-btn,
.auto-fill-btn {
    width: 180px;
    background-color: $btn-color;
    color: $font-color;
    border: 1px solid $font-color;
    font-family: "Roboto", serif;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.5s;
}

.translate-btn {
    height: 42px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $btn-color;
    border: 1px solid $btn-color;
    border-radius: 10px;
    transition: 0.5s;
}

.translate-btn-img {
    width: 30px;
    height: 30px;
    background-image: url('../assets/icon/icons8-глаз-30.png');
}

.auto-fill-btn-container {
    display: flex;
    justify-content: end;
}

.auto-fill-btn {
    margin-bottom: 30px;
    border: 1px solid $btn-color;
}

.sentence-translation-container {
    display: flex;
    justify-content: center;
    color: #333;
    font-size: 20px;
    font-family: "Roboto", serif;
}

.continue-btn:hover,
.check-btn:hover,
.auto-fill-btn-hover:hover,
.translate-btn:hover {
    cursor: pointer;
    background-color: #0a66c2;
    border: 1px solid #0a66c2;
    transition: 0.5s;
}

.background-image {
    // background-image: url(../assets/images/level1/deerhunt.jpg);
    height: 500px;
    width: 54%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.background-image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.correct {
    background-color: lightgreen; /* Правильные слова */
}
  
.incorrect {
    background-color: lightcoral; /* Ошибочные слова */
}

.block-word.auto-filled {
    animation: autoFill 0.5s ease-in-out;
}
  
@keyframes autoFill {
    0% {
      transform: scale(0.8);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}

.game-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    // align-items: end;
}

.disabled {
    opacity: 0.5;
}

.test1 {
    background-color: #000000;
}

// .test2 {
//     background-color: #ffffff;
// }

.block-word-guessed:hover {
    cursor: auto;
    background-color: $btn-color;
    border: 1px solid $font-color;
}

.dragging-element {
    z-index: 1000;
    opacity: 0.8;
    transform: scale(1.1);
    pointer-events: none; /* Prevent interaction */
}

.testt {
    border: 2px dotted #eaf6de;
}
